{% extends "base.html" %}
{% block title %}密码重置{% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>密码重置</h1>
    <p>请在此处输入您的注册邮箱</p>
    <form class="form-horizontal" action="." method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="col-md-5 control-label text-right">Email</label>
            <div class="col-md-6 text-left">{{ form.email }}</div>
        </div>
        <input type="submit" value="提交" class="btn btn-primary btn-lg"></form>
</div>
{% endblock %}