{% extends "base.html" %}
{% load staticfiles %}
{% block title %}register user{% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>Register</h1>
    <p>如果您已注册，请<strong><a href="{% url 'account:user_login' %}">登录</a> </strong></p>
    <form class="form-horizontal" action="." method="post">
        {% csrf_token %}
        <div class="form-group">
            <!--for 表示和表单的哪个属性绑定-->
            <label for="{{ form.username.id_for_label }}" class="col-md-5 control-label">用户名</label>
            <div class="col-md-6 text-left">{{ form.username }}</div>
        </div>

        <div class="form-group">
            <label for="{{ form.email.id_for_label }}" class="col-md-5 control-label"> 邮箱</label>
            <div class="col-md-6 text-left">{{ form.email }}</div>
        </div>

        <div class="form-group">
            <label for="{{ form.password.id_for_label }}" class="col-md-5 control-label">密码</label>
            <div class="col-md-6 text-left">{{ form.password }}</div>
        </div>

        <div class="form-group">
            <label for="{{ form.password.id_for_label }}" class="col-md-5 control-label">确认密码 </label>
            <div class="col-md-6 text-left">{{ form.password2 }}</div>
        </div>

        <div class="form-group">
            <label for="{{ form.phone.id_for_label }}" class="col-md-5 control-label">电话号码</label>
            <div class="col-md-6 text-left">{{ form.phone }}</div>
        </div>
        <input type="submit" class="btn btn-primary btn-lg" value="注册">
    </form>
</div>
{% endblock %}