{% load staticfiles %}

<link rel="stylesheet" href="{% static '/live2d/css/live2d.css'%}" />

<div id="landlord">
    <div class="message" style="opacity:0"></div>
    <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
    <div class="hide-button">隐藏</div>
</div>

<script type="text/javascript">
    var message_Path = "{% static '/live2d/'%}";
    var home_Path = ''  //此处修改为你的域名，必须带斜杠
</script>
<script type="text/javascript" src="{% static '/live2d/js/live2d.js'%}"></script>
<script type="text/javascript" src="{% static '/live2d/js/message.js'%}"></script>
<script type="text/javascript">
    var path = "{% static "/live2d/model/pio/"%}";
    //var model = ["pio","snow_miku","tia"];
    //extention = "model.json"
    var extention = "model"+Math.floor(Math.random()*80)+".json";  //随机取0~79的整数
    var result = path + extention;
    loadlive2d("live2d", result);
</script>
